@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 194 65% 94%;
    --foreground: 224 76% 10%;
    --card: 194 65% 97%;
    --card-foreground: 224 76% 10%;
    --popover: 194 65% 97%;
    --popover-foreground: 224 76% 10%;
    --primary: 197 76% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 224 76% 10%;
    --muted: 210 20% 94%;
    --muted-foreground: 224 76% 30%;
    --accent: 27 87% 62%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 194 65% 88%;
    --input: 194 65% 88%;
    --ring: 197 76% 43%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 197 76% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 216 12% 76%;
    --accent: 27 87% 62%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 197 76% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
